.feedback-subscription-detail {
    height: 260px;
}

.feedback-subscription-no-seat-data {
    margin-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.feedback-device-type-icon {
    font-size: x-large;
}
