<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card fb-page-subtitle">
                    <div class="card-header feedback-dashboard-overview-subtitle">
                        <div class="fb-font-bold">
                            This is red service.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-feedback [questionType]="localQuestionType" [hidden]="isFeedbackProvided" [userName]="localUserName" (refreshPage)="refreshPageLocal($event)"></app-feedback>

</div>
