.feedback-reset-margin {
    margin-left:0px !important;
    margin-right: 0px !important;
}

.feedback-modal-caption {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 20px;
}

.feedback-modal-title {
    margin-top:10px;
}