@media (min-width: 768px) {
    td.feedback-table-wrap {
        display: table-cell;
        white-space: -o-pre-wrap;
        word-wrap: break-word;
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -pre-wrap;
    }

    table.feedback-table-wrap {
        table-layout: fixed;
        width: 100%
    }

    div.container-fluid div.fb-page-subtitle div.fb-page-subtitle-button {
        float: right;
        display: inline;
    }
}

@media (max-width: 767px) {
    div.container-fluid div.fb-page-subtitle div.fb-page-subtitle-button {
        clear:both;
        margin-top:20px;
    }

}

.dropdown button {
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

.card .card-header img {
    width: auto !important;
    max-width: 100%;
}

.feedback-searchbar-top {
    margin-top: 15px;
}

.feedback-separator {
    border-bottom: 1px solid;
    margin-top: 10px;
}

.feedback-pie-chunk1 {
    fill: #23CCEF;
    color: #23CCEF;
}

.feedback-pie-chunk2 {
    fill: #FB404B;
    color: #FB404B;
}

.feedback-pie-chunk3 {
    fill: #FFA534;
    color: #FFA534;
}

.feedback-pie-chunk4 {
    fill: #c8ff34;
    color: #c8ff34;
}

.feedback-pie-chunk5 {
    fill: #238bef;
    color: #238bef;
}

.feedback-pie-chunk6 {
    fill: #999;
    color: #999;
}

::before input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #F3F2EE inset;
}

div.feedback-general-vertical-space {
    margin-top: 20px;
    margin-bottom: 20px;
}

div img.feedback_logo_img {
    margin-left: 10px;
    margin-right: 50px;
    margin-bottom: 20px;
    width: 300px;
    z-index: -1;
}

.feedback-cursor-wait, div.feedback-cursor-wait, div.feedback-cursor-wait * {
    cursor: wait !important;
}

.feedback-content-title {
    color: #003E6F;
}

.feedback-disabled {
    color: #a6a6a7;
}

.feedback-inline-link {
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.dashboard-partner {
    color: #3293C8;
    /*color: #080e64;*/
}

.feedback-table-list {
    padding: 20px;
}

div.container-fluid div.fb-page-subtitle {
    padding-bottom: 30px;
    padding-top: 10px;
}



div.main-content {
    padding-top: 0px !important;
}

.fb-font-bold {
    font-weight: bold;
}

popup div.row {
    margin-top: 0px;
    padding-top: 0px;
}

.fb-popup-content {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
    padding-top: 0px;
}

.fb-popup-title {
    font-weight: bold;
    font-size: 150%;
    margin-bottom: 10px;
}

modal {
    display: none
}

    modal .custom-modal {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1000;
        overflow: auto
    }

        modal .custom-modal .custom-modal-body {
            padding: 20px;
            background: #fff;
            margin: 40px;
            margin-left: 350px;
            width: 60%;
            border-radius: 6px;
        }

    modal .custom-modal-background {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #000;
        opacity: .75;
        z-index: 900
    }

body.custom-modal-open {
    overflow: hidden
}

.status-active {
    color: green;
}

.status-cancelled {
    color: red;
}

td.td-actions a {
    color: cornflowerblue;
}

.status-pending {
    color: orange;
}

.status-disabled {
    color: red;
}

.feedback-text-center {
    text-align: center;
}

h4 {
    margin-top: 15px !important;
}

button[type=submit].pull-right {
    margin-bottom:10px;
}

